<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Blogify</title>
</head>

<body>

  <%- include('./partials/nav') %>
  <!-- <h1>Hello, world!</h1> -->
  <%= JSON.stringify(user) %>
  
  <%- include('./partials/script') %>
</body>